@media screen and (min-width: 480px) {
    .partners-bottom-menu{
        display: none;
    }

    .partners-bottom-desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-grey);
        margin: 0 40px;
        height: 5rem;
        border-radius: 50px;
        filter: drop-shadow(5px 8px 10px rgba(0, 0, 0, 0.904));
        position: relative;
        top: -6rem;
    }

    .partners-bottom-container{
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logoPartnersImages{
        height: 60px;
        transition: scale 0.3s ease-in-out;
    }
    .logoPartnersImages:hover{
        scale: 1.15;
    }

    #logo-image-lff{
            height: 30px;
    }
}

@media screen and (max-width: 480px) {


    .partners-bottom-desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-grey);
        margin: 0 0;
        width: 100%;
        height: 3.3rem;
        border-radius: 50px;
        filter: drop-shadow(5px 8px 10px rgba(0, 0, 0, 0.904));
        position: relative;
        top: -3.8rem;
    }

    .partners-bottom-container{
        width: 79%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logoPartnersImages{
        height: 40px;
        transition: scale 0.3s ease-in-out;
    }
    .logoPartnersImages:hover{
        scale: 1.2;
    }

    #logo-image-lff{
            height: 21px;
    }

}

@media (max-width: 390px) {
 
    .partners-bottom-desktop{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-grey);
        margin: 0 0;
        width: 100%;
        height: 3rem;
        border-radius: 50px;
        filter: drop-shadow(5px 8px 10px rgba(0, 0, 0, 0.904));
        position: relative;
        top: -7.7rem;
    }

}