.btn-whatsapp {
    & {
        position: fixed;
        bottom: 18px;
        right: 16px;
        z-index: 9999;
    }
    & img {
        width: 3.5rem;
        filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.445));
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    & img:hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1280px){
    .btn-whatsapp {
        & {
            bottom: 18px;
            right: 18px;
            z-index: 9999;
        }
        & img{
            width: 3rem;
        }
    }
}

@media screen and (max-width: 768px){
    .btn-whatsapp img{
        width: 2.8rem;
    }
}

@media screen and (max-width: 480px){
    .btn-whatsapp { & img{ width: 2.6rem; } }
}