.btn-whatsapp {
    & {
        position: absolute;
        bottom: 12vh;
        right: 2.5vw;
        z-index: 999;
    }
    & img {
        width: 3.5rem;
        filter: drop-shadow(4px 4px 7px rgba(0, 0, 0, 0.445));
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
    }
    & img:hover{
        transform: scale(1.1);
    }
}

@media screen and (max-width: 1280px){
    .btn-whatsapp {
        & {
            bottom: 15vh;
            right: 5vw;
            z-index: 999;
        }
        & img{
            width: 2.1rem;
        }
    }
}

@media screen and (max-width: 768px){
    .btn-whatsapp img{
        width: 3rem;
    }
}

@media screen and (max-width: 480px){
    .btn-whatsapp img{
        position: relative;
        width: 3rem;
        bottom: -185vw;
    }
}